<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        
        <div class="col-md-offset-1"></div>

        <div class="col-md-8 list-group">
            <%= will_paginate %>
                <h2>All users</h2>
                <% @users.each do |user| %>
                    <%= gravatar_for user %>
                    <%= link_to user.name, user_path(user) %>
                    <br>
                <% end %>
            <%= will_paginate %>
        </div>
    </div>
</div>
