<div class="container">
    <div class="row">
        <% if logged_in? %>
            <div class="col-md-3">
                <h2><%= @user.name %></h2>
                <% if @user.avator.nil? %>
                    <%= gravatar_for @user %>
                <% elsif user.avator %>
                    <%= image_tag user.avator.url, size: 100, :class => "img" %>
                <% end %>
                <button type="button" class="btn btn-primary btn-lg">Follow</button>
            </div>
        <% end %>

        <div class="col-md-offset-1">
        </div>

        <div class="col-md-8" style="margin-top: 20px;">
            <button type="button" class="btn btn-primary btn-lg">Word List</button>
            <button type="button" class="btn btn-primary btn-lg">Lesson</button>

            <h2>Activity</h2>
            <div class="list-group">
                <a href="#" class="list-group-item active">リスト1</a>
                <a href="#" class="list-group-item">リスト2</a>
                <a href="#" class="list-group-item">リスト3</a>
                <a href="#" class="list-group-item">リスト4</a>
                <a href="#" class="list-group-item">リスト5</a>
                <a href="#" class="list-group-item">リスト6</a>
                <a href="#" class="list-group-item">リスト7</a>
                <a href="#" class="list-group-item">リスト8</a>
                <a href="#" class="list-group-item">リスト9</a>
                <a href="#" class="list-group-item">リスト10</a>
            </div>
        </div>
    </div>
</div>