<h1>DashBoard Page</h1>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Name</h2>
            <img src="" alt="">
            <button type="button" class="btn btn-primary">Follow</button>
        </div>

        <div class="col-md-offset-1">
        </div>

        <div class="col-md-8">
        </div>
    </div>
</div>
