// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* signup */
.name {
  width : 40%;
}

.email {
  width : 40%;
}

.password {
  width : 40%;
}

.title {
  text-align: center;
}

/* error */
#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.image {
  padding: 10px;
}

.gravatar {
  padding: 10px; 
}